{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="text-center"> {{ title }}</h1>
    <div id="list" class="mx-auto">
        {% for thumb in list %}
            {% include 'thumb.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
