{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container>">
        <h1 class="text-center">Recettes</h1>
        <div id="list">
            <div class="row">

                {% for recipe in recipes %}
                    {% include 'thumb-recipe.html.twig' %}
                {% else %}
                    <p> Aucun élément à afficher.</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
