{#un fichier temporaire pour tester le fonctionnement de listEvent#}
{#il sera remplacé par un fichier pour afficher la liste des événements sous forme de thumbnails (image, nom, date)#}
{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des événements</h1>
    <ul>
        {% for event in events %}
            <li>{{ event.id }}. {{ event.name }}. {{ event.date }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}
