{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}

    <h1>Liste des événements</h1>

    {% for event in events %}

        {% include 'thumb-event.html.twig' %}
    {% else %}
        <p> Aucun élément à afficher.</p>
    {% endfor %}


{% endblock %}





