{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Liste des événements</h1>
        <div class="row text-center searchEngine">
                <form method="post" action="" id="formSeekEvent" class="form-inline">
                    <input type="hidden" value="0" id="page" name="page">
                    <div class="form-group">
                        <label for="seekEvent">
                        <input type="text" name="event" id="event" class="form-control"
                               placeholder="Quels événements cherchez-vous?">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="dateStart">de :</label>
                        <input type="date" name="dateStart" id="dateStart" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="dateEnd">à :</label>
                        <input type="date" name="dateEnd" id="dateEnd" class="form-control">
                    </div>
                </form>
        </div>
        <div id="list" class="text-center">
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script src="assets/js/searchEvent.js"></script>
{% endblock %}





