{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <div class="container recipeText">
        <h2 class="orange">Bienvenue dans la partie Administrateur !</h2>
        <p align="center">Ici vous pourrez modifier ou ajouter des recettes et des événements.</p>
    </div>
    <div class="banner">
        <h1><span contenteditable="true" id="accroche">Recipe Reminder : la recette pour gérer vos recettes !</span></h1>
    </div>



{% endblock %}
{% block javascript %}
<script>
$('body').on('focus', '[contenteditable]', function() {
    var $this = $(this);
    $this.data('before', $this.html());
    return $this;
}).on('blur paste', '[contenteditable]', function() {
    var $this = $(this);
    if ($this.data('before') !== $this.html()) {
        $this.data('before', $this.html());
        $this.trigger('change');
    }
    return $this;
});

$('#accroche').change(function(){
    let accroche = $(this).text();
   $.post('/admin/changeAccroche',{accroche: accroche});
});
</script>
{% endblock %}

