{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <div class="banner">
        <h1>Recipe Reminder : la recette pour gérer vos recettes !</h1>
    </div>

    <section>
        <div class="container recipeText">
            <h2 class="orange">Bienvenue dans la partie Administrateur !</h2>
            <p align="center">Ici vous pourrez modifier ou ajouter des recettes et des événements.</p>
        </div>
    </section>
{% endblock %}
