{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <div class="container recipeText">
        <h1 class="orange">Bienvenue dans la partie Administrateur !</h1>
        <p align="center">Ici vous pourrez modifier ou ajouter des recettes et des événements.</p>
    </div>
    <section>
    <div class="banner">
        <h1><p class="info">Vous pouvez modifier le texte ici :</p>
            <p class="editable"><span contenteditable="true" id="catchPhrase" data-toggle="tooltip" title="Vous pouvez modifier le texte ici!">{{ catchPhrase }}</span></p>
        </h1>
    </div>
    </section>



{% endblock %}
{% block javascript %}
<script>
$('body').on('focus', '[contenteditable]', function() {
    var $this = $(this);
    $this.data('before', $this.html());
    return $this;
}).on('blur paste', '[contenteditable]', function() {
    var $this = $(this);
    if ($this.data('before') !== $this.html()) {
        $this.data('before', $this.html());
        $this.trigger('change');
    }
    return $this;
});

$('body *[contenteditable]').keydown(function(e) {
    // trap the return key being pressed
    if (e.keyCode === 13) {
        // prevent the default behaviour of return key pressed
        return false;
    }
});

$('#catchPhrase').change(function(){
    let catchPhrase = $(this).text();
   $.post('/admin/changeCatchPhrase',{catchPhrase: catchPhrase});
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}

