{% extends 'layout.html.twig' %}

{% block content %}
<div class="banner">
<h1>Phrase d'accroche du site Recipe Reminder</h1>
</div>

<div class="container">

<h2>Les dernières recettes</h2>
<div class="row">
    {% include 'thumb.html.twig' %}
    {% include 'thumb.html.twig' %}
    {% include 'thumb.html.twig' %}
</div>

<hr>

<h2>Les derniers évènements</h2>
<div class="row">
    {% include 'thumb.html.twig' %}
    {% include 'thumb.html.twig' %}
    {% include 'thumb.html.twig' %}
</div>

</div><!-- end container -->
{% endblock %}
