{% include 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

<header>
    <h1>Ceci est la phrase d'accroche du site Recipe Reminder</h1>
</header>
<div class="container">
<h2>Les dernières recettes</h2>
<!-- Template thumbnail inc -->
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
</div>
<hr>
<h2>Les derniers évènements</h2>
<!-- Template thumbnail inc -->
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://via.placeholder.com/400x550" alt="...">
        </a>
    </div>
</div>

</div><!-- end container -->
{% endblock %}
