<footer class="container-fluid">
    <div class="row">
            <div class="logo-footer">Recipe Reminder</div>
    </div>
    <div class="row">
            <a href="#">Mentions Légales</a>
    </div>
    <div class="row">
            <a href="#">CGU</a>
    </div>
    <div class="row">
            <a href="#">CGV</a>
    </div>
</footer>