<footer class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-9 ">
            <div class="logo-footer">Recipe Reminder</div>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-3">
            <a href="/mentions">Mentions Légales</a>
        </div>
    </div>
</footer>


