<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="logo-footer">Recipe Reminder</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="#">Mentions Légales</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="#">CGU</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="#">CGV</a>
        </div>
    </div>
</footer>