<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Galada" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% block stylesheet %}{% endblock %}

    <title>{% block title %}Recipe Reminder{% endblock %}</title>

    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
{% block content %}{% endblock %}
</body>

{% block javascript %}{% endblock %}
</html>
