{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container>">
        <h1 class="text-center"> {{ title }}</h1>
        <div id="list">
            <div class="row">

            {% for thumb in list %}
               {# attente pour affichage template #}
                <p>  name : {{ thumb.name }} <br>
                     category : {{ thumb.category }} <br>
                     img : {{ thumb.img }} <br>

                {# fin #}
                </p>
            {% else %}
                <p> Aucun élément à afficher.</p>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
