<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
        {% if thumb.img is empty %}
        <img src="assets/images/thumbtest3.jpg" alt="recipe image" class="">
        {% else %}
        <img src="assets/images/{{ thumb.img }}" alt="{{ thumb.name }}" class="">
        {% endif %}
        <h3>{{ thumb.name }}</h3>
        <h4>{{ thumb.info }}</h4>
    </div>

</div>
