<div class="col-xs-12 col-sm-6 col-md-4">
    <figure class="thumbnail">
        {% if thumb.img is empty %}
        <img src="assets/images/thumbtest3.jpg" alt="recipe without image" class="">
        {% else %}
        <img src="assets/images/{{ thumb.img }}" alt="{{ thumb.name }}" class="">
        {% endif %}
        <figcaption class="caption">
            <h3>{{ thumb.name }} Recipe name</h3>
            <p>{{ thumb.info }} Recipe category</p>
        </figcaption>
    </figure>
</div>
