{% extends 'Admin/admin_layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}
{% block content %}
    <div class="container">
    <h1>Administration des événements</h1>

        <div class="text-center">
            <a href="/admin/addEvent"><button class="btn">Ajouter un Evénement</button></a>
        </div>
        <div class="row text-center searchEngine">
        <form method="post" action="/admin/event/search" id="formSeekEvent" class="form-inline">
            <input type="hidden" value="0" id="page" name="page">
            <div class="form-group">
                <label for="name">
                    <input type="text" name="name" id="name" class="form-control"
                           placeholder="Quels événements cherchez-vous?">
                </label>
            </div>
            <div class="form-group">
                <label for="dateStart">de :</label>
                <input type="date" name="dateStart" id="dateStart" class="form-control">
            </div>
            <div class="form-group">
                <label for="dateEnd">à :</label>
                <input type="date" name="dateEnd" id="dateEnd" class="form-control">
            </div>
        </form>
        </div>
        <div id="list" class="text-center">
        </div>

        </div>
{% endblock %}
{% block javascript %}
<script src="/assets/js/searchEvent.js"></script>
{% endblock %}