body {
    margin: 0;
}

.banner {
    background-color: cadetblue;
    background-size: cover;
    height: 500px;
}

h1 {
    margin-top: 0;
    padding-top: 230px;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
}

h2 {
    padding: 20px 0px 20px 0px;
}

h2, h3, h4 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.thumbnail {
    padding: 0;
    border: 1px solid black;
    height: 500px;
    overflow: auto;
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
    height: 70%;
    display: block;
    max-width: 350px;
}

.odd {
    background-color: white;
    padding-bottom: 50px;
}

.even {
    background-color: gainsboro;
    padding-bottom: 50px;
}