body {
    margin: 0;
}

.banner {
    background-image: url("../images/bgaffiche.jpg");
    background-size: cover;
    height: 500px;
    box-shadow: 1px 1px 6px black;
}

.banner h1 {
    margin-top: 0;
    padding-top: 230px;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
}

h2 {
    padding: 20px 0px 20px 0px;
}

h2, h3, h4 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

figcaption p {
    text-align: center;
}

.thumbnail {
    padding: 0;
    border: 1px solid black;
    height: 500px;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.thumbnail img {
    display: block;
    max-width: 350px;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

section:nth-child(odd) {
    padding-bottom: 50px;
}

section:nth-child(even) {
    background-color: gainsboro;
    padding-bottom: 50px;
}

/* NAVBAR */

.navbar-default {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 0;
    padding-left: 30px;
}

.logo-header {
    margin-top: 3px;
    font-family: 'Galada', cursive;
    font-size: 25px;
    color:#1f212f;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Galada', cursive;
    color:#de8835;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#ff8008;
}

.btn.btn-default.btn-outline.btn-circle.collapsed {
    font-weight: bold;
    border: 0;
    font-size: 18px;
    color:#1f212f;
    font-family: 'Galada', cursive;
}

.btn.btn-default.btn-outline.btn-circle.collapsed:hover {
    color:#ff8008;
}

.navbar {
    margin-bottom: 0px;
}

/*FIN NAVBAR */

/*FOOTER */
footer {
    background-color:#fffcf9;
    padding: 70px;
    font-size: 15px;
    text-align: center;
    box-shadow: 2px 0 1px grey;
}

footer a {
    color:dimgrey;
}

footer a:hover {
    color:black;
    text-decoration: none;
}

.logo-footer {
    padding-top: -20px;
    font-family: 'Galada', cursive;
    font-size: 25px;
    color:#1f212f;
}
/*FIN FOOTER*/
