body {
    margin: 0;
}

header {
    background-color: gainsboro;
    background-size: cover;
    height: 500px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
    vertical-align: middle;
}

h2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}