body {
    margin: 0;
}

.banner {
    background-color: gainsboro;
    background-size: cover;
    height: 500px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
}

h2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.thumbnail {
    height: 500px;
    background-image: url('../images/thumbtest2.jpg');
}
