body {
    margin: 0;
}

.banner {
    background-image: url("../images/bgaffiche.jpg");
    background-size: cover;
    height: 500px;
    box-shadow: 1px 1px 6px black;
}

.banner h1 {
    margin-top: 0;
    padding-top: 230px;
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
}

h1, h2 {
    margin: 20px 0px 20px 0px;
}

.logo-header,.navbar-default,h1,h2, h3, h4{
    font-family: 'Fascinate Inline', cursive;
}

h1, h2, h3, h4 {
    text-align: center;
}

figcaption p {
    text-align: center;
}

.thumbnail {
    padding: 0;
    border: 1px solid black;
    height: 500px;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.thumbnail img {
    display: block;
    max-width: 350px;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

section:nth-child(odd) {
    padding-bottom: 50px;
}

section:nth-child(even) {
    background-color: gainsboro;
    padding-bottom: 50px;
}

/* NAVBAR */

.navbar-default {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 0;
    padding-left: 30px;
}

.logo-header {
    margin-top: 3px;
    font-size: 30px;
    color:#1f212f;
}

.navbar-default .navbar-nav > li > a {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 20px;
    color:#de8835;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#ff8008;
}

.btn.btn-default.btn-outline.btn-circle.collapsed {
    font-weight: bold;
    border: 0;
    font-size: 18px;
    color:#1f212f;
    font-family: 'Galada', cursive;
}

.btn.btn-default.btn-outline.btn-circle.collapsed:hover {
    color:#ff8008;
}

.navbar {
    margin-bottom: 0px;
}

/*FIN NAVBAR */

/*Pages pour une recette ou un événement*/

.itemHeader {
    margin-bottom: 1em;
}

.comment {
    font-size: 1.5em;
    font-style: italic;
    max-height: 18em;
    overflow: auto;
}

.guest {
    font-size: 1.3em;
    max-height: 18em;
    overflow: auto;
}

.bold {
  font-weight: bold;
}

.imgEvent {
    margin-top: 1.5em;
}

.refTitle {
    margin-top: 1em;
}

.itemRef {
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*Fin pages pour une recette ou un événement*/

/*FOOTER */
footer {
    background-color:#fffcf9;
    padding: 70px;
    font-size: 15px;
    text-align: center;
    box-shadow: 2px 0 1px grey;
    margin-top: 30px;
}

footer a {
    color:dimgrey;
}

footer a:hover {
    color:black;
    text-decoration: none;
}

.logo-footer {
    padding-top: -20px;
    font-family: 'Galada', cursive;
    font-size: 25px;
    color:#1f212f;
}
/*FIN FOOTER*/

.table-center, .table-center th{
    text-align: center;
}

/* ----- class pour tout les boutons */
.btn{
    color: #fff;
    background-color: #ff8533;
    border-color: #e65c00;
    margin:10px;
}
.btn:hover {
    color: #fff;
    background-color: #ff6600;
    border-color:#e65c00;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}