{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Administration des catégories</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }} </li>
        {% else %}
            <li>Rien à afficher</li>
        {% endfor %}
    </ul>
{% endblock %}