{% extends 'Admin/admin_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Administration des catégories</h1>

            <div class="text-center ">
                    <button type="button" class="btn" data-toggle="modal" data-target="#categoryModal">
                        Ajouter une Catégorie
                    </button>
            </div>
            {% if error is not empty %}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-danger text-center">{{ error }}</div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">

                     <table class="table table-striped table-bordered table-center">
                         <thead>
                             <tr>
                                 <th>CATÉGORIES</th>
                                 <th>Modifier</th>
                             </tr>
                         </thead>
                         <tbody>
                         {% for category in categories %}

                            <tr>
                                <td>{{ category.name |capitalize}}</td>
                                <td>
                                    <button data-categoryName="{{ category.name }}"
                                            data-categoryId="{{ category.id }}"
                                            type="button" class="btn-link updateCategory" data-toggle="modal"
                                            data-target="#updateCategory">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="categoryModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ajout de catégorie</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <form action="" method="POST">
                                    <div class="form-group">
                                        <label for="name"></label>
                                        <input type="text" class="form-control" id="name" placeholder="Entrez une catégorie" name="name">
                                    </div>
                                    <div class="text-center">
                                         <button type="submit" class="btn btn-default">Ajouter la catégorie</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Modal -->
        <div id="updateCategory" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modifier une catégorie</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/admin/category/update">
                            <input type="hidden" value="" name="categoryId" id="categoryId">
                            <div class="form-group">
                                <label for="newName">Nom de la catégorie : </label>
                                <input class="form-control" type="text" name="newName" id="newName">
                            </div>
                            <div class="form-group">
                                <input class="btn" type="submit">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </div>

    </div>


{% endblock %}
{% block javascript %}
<script src="/assets/js/updateCategory.js"></script>
{% endblock %}