{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <h1>Administration des catégories</h1>
    {% for category in categories %}
        <table class="table table-bordered">
        <thead>
        <tr>
        <td>{{ category.name }} </td>
        {% else %}
            <td>Rien à afficher</td>
        {% endfor %}
    </table>
{% endblock %}