{% extends 'Admin/admin_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Administration des recettes</h1>
            <div class="text-center">
                <a href="addRecipe"><button class="btn">Ajouter une recette</button></a>
            </div>
            <div class="row text-center searchEngine">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <form method="post" action="/admin/recipeList/search" id="formSeekRecipe" class="form-inline">
                        <input type="hidden" value="0" id="page" name="page">
                        <div class="form-group">
                            <label for="name">Nom de la recette :</label>
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="Quelles recettes cherchez-vous?">

                        </div>
                        <div class="form-group">
                            <label for="categoryId">Categorie :
                                <select id="categoryId" name="categoryId" class="form-control">
                                    <option value="" selected>Toutes</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div id="list">
                    </div>
                </div>
            </div>
    </div>


{% endblock %}
{% block javascript %}
<script src="/assets/js/searchRecipe.js"></script>
{% endblock %}
